#!/usr/bin/python

#jsonStr='{"action":"get","key":"/svc","dir":true,"kvs":[{"key":"/svc/memcache","dir":true,"kvs":[{"key":"/svc/memcache/9c516dcb11b5","value":"172.17.42.1:49268","expiration":"2013-11-19T14:36:19.749631144Z","ttl":5,"modifiedIndex":6}],"modifiedIndex":2},{"key":"/svc/firstbase-authserver","dir":true,"kvs":[{"key":"/svc/firstbase-authserver/d8f517740aa0","value":"172.17.42.1:49269","expiration":"2013-11-19T14:36:17.980095404Z","ttl":3,"modifiedIndex":5}],"modifiedIndex":5}],"modifiedIndex":2}'


import json,os,sys,redis,requests,time
import logging
import re

if "DEBUG" in os.environ:
	logging.basicConfig(level=logging.DEBUG)


# in a but not b
def diff(a, b):
	b = set(b)
	return [aa for aa in a if aa not in b]

def intersect(a, b):
	return list(set(a) & set(b))



class Service:

  def __init__(self, id, host, instance):
    self.id = id
    self.host = host
    self.instance = instance


def updateProxy(svc, rs):
  key = "frontend:" + svc.host

  if not rs.exists(key):
    rs.rpush(key, svc.id)

  rs.expire(key, 15)

  existing = rs.lrange(key, 0, -1)

  current = [svc.instance]
  current.insert(0, svc.id)

  toDelete = diff(existing, current)
  toAdd = diff(current, existing)

  for val in toDelete:
    logging.info("D "+key+" "+val)
    rs.lrem(key, val)

  for val in toAdd:
    logging.info("A "+key+" "+val)
    rs.rpushx(key, val)	


#redisAdd = os.environ['REDIS'].split(":")

#rs = redis.Redis(redisAdd[0], int(redisAdd[1]))

#obj = requests.get("http://"+os.environ['ETCD']+"/v2/keys/backends/?recursive=true").json()

#backends = obj['node']['nodes']

backends = []

{{ $local := . }}
{{range $key, $value := .}}

# {{ $value.Name }}
{{ $tag := "latest" }}
{{ if $value.Image.Tag }}
{{ $tag := $value.Image.Tag }}
{{end}}

running_container = {
                      "host"       : "{{ $local.Env.HOST_IP }}",
                      "container_id" : "{{ printf "%.*s" 24 $value.ID }}",
                      "name"       : "{{ $value.Name }}",
                      "registry"   : "{{ $value.Image.Registry }}",
                      "repository" : "{{ $value.Image.Repository }}",
                      "tag"        : "{{ $tag }}",
                      "addresses"  : "{{ $value.Addresses }}"
                    }

#running_container['addresses'] = "[{172.17.0.3 2379 } {172.17.0.3 2380 } {172.17.0.3 4001 4001} {172.17.0.3 7001 }]"
address_string = running_container['addresses'].replace('} {','},{').replace('{','"').replace('}','"')
address_list = [re.sub(' +',' ',item.strip()).split(' ') for item in eval(address_string)]
port_dicts = []
for item in address_list:
  parts_no = len(item)
  internal_port, host_port = item[1], None
  if parts_no > 3:
    host_port = item[2]
  port_dicts.append({'internal':internal_port, 'external':host_port})

del running_container['addresses']
running_container['ports'] = port_dicts

backends.append(running_container)

{{end}}

print 'Total backends: %d' % len(backends)

redis_host_port = os.environ['REDIS_HOST'].split(':')
redis_port = (int(redis_host_port[1]) if len(redis_host_port) == 2 else 6379)
rs = redis.Redis(redis_host_port[0], redis_port)

for svc in backends:

  ident = svc['host'] + '/' + svc['name']

  if not 'flocker--' in svc['name']:
    continue

  svc_name = svc['name'].replace('flocker--','')

  external_ports = [port['external'] for port in svc['ports'] if port['external'] != None]
  if len(external_ports) == 1:
    redis_svc_name = svc_name

    redis_svc = Service(redis_svc_name, redis_svc_name + '.flocker.kalamia.in', 'http://flocker.kalamia.in:' + external_ports[0] )
 
    print 'Redis Entry: (id, host, instance) = (%s, %s, %s)' % (redis_svc.id, redis_svc.host, redis_svc.instance)

    updateProxy(redis_svc, rs)


  for port in svc['ports']:
    if port['external'] == None:
      continue

    redis_svc_name = port['internal'] + '.' + svc_name

    redis_svc = Service(redis_svc_name, redis_svc_name + '.flocker.kalamia.in', 'http://flocker.kalamia.in:' + port['external'] )
  
    print 'Redis Entry: (id, host, instance) = (%s, %s, %s)' % (redis_svc.id, redis_svc.host, redis_svc.instance)

    updateProxy(redis_svc, rs)

logging.info("exiting...")
